<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="Site">
      {{ partial "header.html" . }}
      {{ partial "navbar.html" . }}
    <main class="Site-content">
      <div class="content">
        {{ range .Paginator.Pages }}
            <article>
              <h3><span class="listarrow">&#10132; <a href="{{ .RelPermalink }}">{{ .Title }}</a><span></
            <article>
        {{ end }}
        </div>
      </div>
    </main>
      {{ partial "footer.html" . }}
  </body>
</html>